<div class="row">
    <div class="col-sm-8">
        <div ng-include="'Views/Partials/Carousel.html'"></div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h3 ng-bind="product.name"></h3>
        </div>
        <div class="well">
            <p ng-bind="product.description"></p>
        </div>
        <button type="button" class="btn btn-success" ng-click="addCart()">Add to Cart</button>
    </div>
</div>
<hr>


<div class="container text-center">
    <h3 ng-bind="product.content"></h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image 1</p>
        </div>
        <div class="col-sm-3">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image 2</p>
        </div>
        <div class="col-sm-3">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image 3</p>
        </div>
        <div class="col-sm-3">
            <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p>Image 4</p>
        </div>
    </div>
    <hr>
</div>